html
  head
    title
      | researchR
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/index.css') 
    style.
      body {
        background-image: linear-gradient(white, #b2f5ea);
      }
      .video-container {
      overflow: hidden;
      position: relative;
      width: 100%;
      }
      .video-container::after {
      padding-top: 56.25%;
      display: block;
      content: '';
      }
      .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }
      .svg-icon {
        width: 2.5em;
        height: 2.5em;
      }

      .svg-icon path{
        fill: white;
      }

      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 100; /* Sit on top */
        padding-top: 22%; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
      }

      .modal-content {
        background-image: linear-gradient(to bottom right, #38b2ac, teal);
        color: #fff;
        font-size: 18px;
        background-color: #38b2ac;
        margin: auto;
        padding: 20px;
        border: 2px solid white;
        width: 50%;
        text-align: center;
      }

      .autocomplete {
        position: relative;
        display: inline-block;
        z-index: 100;
        max-height: 250px;
      }

      .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 100;
        max-height: 250px;
        overflow-y: auto;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
      }

      .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
      }

      /*when hovering an item:*/
      .autocomplete-items div:hover {
        background-color: #e9e9e9;
      }

      /*when navigating through the items using the arrow keys:*/
      .autocomplete-active {
        background-color: Teal !important;
        color: #ffffff;
      }

  body
    header.text-gray-700.body-font
    hr(style="height:22pt; visibility:hidden;")
    a.flex.title-font.font-medium.justify-center.text-gray-900.mb-0
      img.ml-0.h-12(class='lg:-ml-4', src='/images/logoCropped.png')
    hr(style="height:18pt; visibility:hidden;")
    //  .container.mx-auto.flex.flex-wrap.p-5.flex-col.items-center.justify-between(class='md:flex-row')
    //    a(href="/")
    //      svg(viewBox='0 0 60 60' class='svg-icon m-1 md:m-3')
    //        path(fill='none' d='M26.76,42l-8.1-11.7h-0.48H9.72V42H0V0h18.18c3.72,0,6.95,0.62,9.69,1.86c2.74,1.24,4.85,3,6.33,5.28\
    //c1.48,2.28,2.22,4.98,2.22,8.1c0,3.12-0.75,5.81-2.25,8.07s-3.63,3.99-6.39,5.19L37.2,42H26.76z M24.3,9.81\
    //c-1.52-1.26-3.74-1.89-6.66-1.89H9.72v14.64h7.92c2.92,0,5.14-0.64,6.66-1.92c1.52-1.28,2.28-3.08,2.28-5.4\
    //C26.58,12.88,25.82,11.07,24.3,9.81z')
    //
    //    a(href="/login")
    //      button.inline-flex.items-center.bg-gray-200.border-0.py-1.px-3.rounded.text-base.mt-4(class='focus:outline-none hover:bg-gray-300 md:mt-0')
    //        | Sign
    //        | in
    //        svg.w-4.h-4.ml-1(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24')
    //          path(d='M5 12h14M12 5l7 7-7 7')
    // HERO SECTION
    //- section.text-gray-700.body-font
    //-   .container.mx-auto.flex.px-5.py-6.flex-col.items-center(class='md:py-8 md:flex-row')
    //-     .mb-10(class='lg:max-w-lg lg:w-full md:w-1/2 w-5/6 md:mb-0')
    //-       img.object-cover.object-center.rounded(alt='hero' src='/images/landingPage.png')
    //-     .flex.flex-col.items-center.text-center(class='lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left')
    //-       h1.title-font.text-3xl.mb-4.font-medium.text-gray-900(class='sm:text-4xl')
    //-         | Collaboration made easy.
    //-       p.mb-8.leading-relaxed
    //-         | Enter your email and your lucky stars could bring you exclusive access to our
    //-         | platform
    //-       form.flex.w-full.justify-center(class='md:justify-start', action="", method="post")
    //-         input.bg-gray-100.rounded.mr-4.border.border-gray-400.text-base.px-4(class='focus:outline-none focus:border-teal-500 lg:w-full xl:w-1/2 w-2/4' placeholder='Email ID' type='text')
    //-         button.inline-flex.text-white.bg-teal-500.border-0.py-2.px-6.rounded.text-lg(class='focus:outline-none hover:bg-teal-600') Request
    //-       p.text-sm.mt-2.text-gray-500.mb-8.w-full You'll get access in no time
    // THE VIDEO SECTION
    //section
    //  .flex.flex-col.mb-20.space-y-12.px-8(class='md:flex-row md:space-y-0 md:space-x-12 md:px-12')
    //    .w-full(class='md:w-1/2')
    //      .video-container
    //        iframe(src='https://www.youtube.com/embed/hGryQDDDKTo' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    //    .w-full(class='md:w-1/2')
    //      .video-container
    //        iframe(src='https://www.youtube.com/embed/nuCgpP4GFrE' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    // REQUEST ACCESS FORM
    section#get-access.text-gray-700.body-font.relative
      .container.px-5.pb-12.mx-auto
        .flex.flex-col.text-center.w-full.mb-12
          h1.text-2xl.font-medium.title-font.mb-4.text-gray-900(class='sm:text-3xl') Get Access
          //p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3') Your lucky stars could grant you access to the most awaited student-professor platform.
          p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3' style="font-size: 18px") With a radically simple recruiting process we're here to ensure effective collaboration.
          p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3' style="font-size: 18px") Our current version enables professors to list projects and students to apply.
          // So if you're a student or a professor with an exciting engagement, what are you waiting for?
          p.text-red-600.text-lg.mx-auto.pt-4.font-medium #{errorMsg}
        .mx-auto(class='lg:w-1/2 md:w-2/3')
          form(action="/landingpage", method="POST").flex.flex-wrap.-m-2
            .p-2(class='w-full md:w-1/2')
              input.w-full.bg-gray-100.rounded.border.border-gray-400.text-base.px-4.py-2(class='focus:outline-none focus:border-teal-500' placeholder='Your Name' name='name' type='text' value=name required='')
            .p-2(class='w-full md:w-1/2')
              input.w-full.bg-gray-100.rounded.border.border-gray-400.text-base.px-4.py-2(class='focus:outline-none focus:border-teal-500' placeholder='College Email' name='email' type='email', value=email required='')
            .p-2(class='w-full md:w-1/2 flex flex-row md:flex-col items-center')
              p.text-gray-600.font-thin.px-1(class="w-3/4 md:w-full mb-1") How did you hear about us?
              select#HearAboutUs.border-2.py-2.px-2.w-full.rounded-lg(class='focus:outline-none' name='from' required='')
                option(value='none') I'm too lazy to fill this option
                option(value='linkedin') Linkedin
                option(value='insta') Instagram
                option(value='fb') Facebook
                option(value='student') Fellow Student
                option(value='professor') Fellow Professor
            .p-2(class='w-full md:w-1/2 flex flex-row md:flex-col')
              p.text-gray-600.font-thin.px-1(class="w-3/4 md:w-full mb-1")  Are you a?
              select#AreYouA.border-2.py-2.px-2.w-full.rounded-lg(class='focus:outline-none' name='type' required='')
                option(value='student') Student
                option(value='professor') Professor
                //option(value='others') Other
            .p-2(class='w-full md:w-1/2 flex flex-row md:flex-col')
              p.text-gray-600.font-thin.px-1 Department
              if departments
                select#colleges.border-2.py-2.px-2.w-full.rounded-lg(name="department" required='')
                  each val in departments
                    if val.value === department
                      option(value=val.value, selected)=val.label
                    else
                      option(value=val.value)=val.label
            .p-2(class='w-full md:w-1/2 flex flex-row md:flex-col')
              p.text-gray-600.font-thin.px-1 Year of Study
              if yoss
                select#colleges.border-2.py-2.px-2.w-full.rounded-lg(name="yos" required='')
                  each val in yoss
                    if val.value === yos
                      option(value=val.value, selected)=val.label
                    else
                      option(value=val.value)=val.label
            .flex.w-full.justify-center
              .p-2(class='w-full md:w-1/2 flex flex-row md:flex-col')
                p.text-gray-600.font-thin.px-1 College
                  .autocomplete()
                    input.border-2.py-2.px-2.w-full.rounded-lg#collegeInput(type="text" autocomplete="off" name="college" placeholder="College")
            .p-6.w-full
              button.flex.mx-auto.text-white.bg-teal-500.border-0.py-4.px-12.rounded.text-lg.font-medium(class='focus:outline-none hover:bg-teal-600') Request Access
    // MODAL FOR SUCCESSFUL STUDENT REQUEST ACCESS
    #studentRequestAccessSuccessful.modal
      .modal-content
        span.close
        p.text-white.font-thin(style="font-size: 20px;") Thank you for requesting access. We will get back to you as soon as possible.
        hr(style="height:10pt; visibility:hidden;")
        p.text-white.font-thin Meanwhile please help us spread the word by sharing this platform with others.
        hr(style="height:6pt; visibility:hidden;")
        div.flex.justify-center.items-center(class='space-x-10')
          <a href='mailto:?subject=Join%20me%20at%20"researchR"&body=Hey,
          | %0D%0A %0D%0A
          | researchR,%20pre-incubated%20at%20IIT%20Madras(http://researchr.in/landingpage)%20is%20an%20online%20platform%20that%20enables%20collaborations%20between%20students,%20professors%20and%20startups%20on%20free/paid%20engagements.
          | %0D%0A %0D%0A
          | With%20a%20radically%20simple%20recruiting%20process,%20researchR%20aims%20to%20build%20a%20collaborative%20ecosystem%20within%20and%20across%20colleges.%20The%20platform%20currently%20is%20invite-only%20and%20has%20features%20to%20match%20students%20to%20professor%20guided%20projects%20depending%20on%20their%20interests%20and%20skill-sets.
          | %0D%0A %0D%0A
          | Collaborating%20has%20never%20been%20easier.%20What%20are%20you%20waiting%20for?
          | %0D%0A
          | Click%20here%20to%20join%20this%20exclusive%20community: http://researchr.in/landingpage %0D%0A %0D%0A' target="_blank" rel="noopener noreferrer">
          svg.svg-icon(class='mt-1' viewbox="0 0 18 18")
            path(d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z")
          </a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/posts/researchr_education-edtech-university-activity-6721428099193536512-lbay&title=&summary=&source=" target="_blank" rel="noopener noreferrer">
          svg.svg-icon(class='mt-1' xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewbox="0 0 24 24")
            path(d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z")
          </a>
    // MODAL FOR SUCCESSFUL PROFESSOR REQUEST ACCESS
    #professorRequestAccessSuccessful.modal
      .modal-content
        span.close
        p.text-white.font-thin(style="font-size: 20px;") Thank you for requesting access. We will get back to you as soon as possible.
        hr(style="height:10pt; visibility:hidden;")
        p.text-white.font-thin Meanwhile please help us spread the word by sharing this platform with others.
        hr(style="height:6pt; visibility:hidden;")
        div.flex.justify-center.items-center(class='space-x-10')
          <a href='mailto:?subject=Join%20me%20at%20"researchR"&body=Hey,
          | %0D%0A %0D%0A
          | researchR,%20pre-incubated%20at%20IIT%20Madras(http://researchr.in/landingpage)%20is%20an%20online%20platform%20that%20enables%20collaborations%20between%20students,%20professors%20and%20startups.
          | %0D%0A %0D%0A
          | With%20a%20radically%20simple%20recruiting%20process%20researchR%20aims%20to%20build%20a%20collaborative%20ecosystem%20within%20and%20across%20colleges.%20The%20platform%20currently%20is%20invite-only%20and%20enables%20professors%20to%20list%20projects%20and%20source%20students%20easily%20and%20effortlessly.%20To%20know%20more,%20click%20on%20the%20link%20here:%20http://researchr.in/landingpage
          | %0D%0A %0D%0A
          | Collaborating%20has%20never%20been%20easier.%20I%20hope%20to%20see%20you%20at%20researchR. %0D%0A %0D%0A' target="_blank" rel="noopener noreferrer">
          svg.svg-icon(class='mt-1' viewbox="0 0 18 18")
            path(d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z")
          </a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/posts/researchr_students-edtech-recruiting-activity-6721429263414906880-HZYa&title=&summary=&source=" target="_blank" rel="noopener noreferrer">
          svg.svg-icon(class='mt-1' xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewbox="0 0 24 24")
            path(d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z")
          </a>
  script.
      //initiate the autocomplete function on the "collegeInput" element, and pass along the college array as possible autocomplete values:
      var collList = "!{collegeList}".split(',');
      autocomplete(document.getElementById("collegeInput"), collList);

      res="!{email}";
      if(!res){
        res = "!{errorMsg}"
      }
      if(res && res.length > 0){
        document.getElementById("get-access").scrollIntoView();
      }

      const studentModal = document.getElementById("studentRequestAccessSuccessful");
      const professorModal = document.getElementById("professorRequestAccessSuccessful");

      doneType = "!{done}";
      if(doneType === "student") {
        studentModal.style.display = "block";
      }
      else if(doneType === "professor") {
        professorModal.style.display = "block";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target === studentModal || event.target === professorModal) {
          studentModal.style.display = "none";
          professorModal.style.display = "none";
        }
      }

      // ref: https://www.w3schools.com/howto/howto_js_autocomplete.asp
      function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) {
            return false;
          }
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function (e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
              });
              a.appendChild(b);
            }
          }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
        });

        function addActive(x) {
          /*a function to classify an item as "active":*/
          if (!x) return false;
          /*start by removing the "active" class on all items:*/
          removeActive(x);
          if (currentFocus >= x.length) currentFocus = 0;
          if (currentFocus < 0) currentFocus = (x.length - 1);
          /*add class "autocomplete-active":*/
          x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
          /*a function to remove the "active" class from all autocomplete items:*/
          for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
          }
        }

        function closeAllLists(elmnt) {
          /*close all autocomplete lists in the document,
          except the one passed as an argument:*/
          var x = document.getElementsByClassName("autocomplete-items");
          for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
              x[i].parentNode.removeChild(x[i]);
            }
          }
        }

        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
          closeAllLists(e.target);
        });
      }


  // THE VIDEO SECTION
  section
    h1.text-2xl.text-center.mb-4.text-gray-900(class='sm:text-3xl' style="font-size: 24px") Professor or Student, we've got you completely covered
    hr(style="height:16pt; visibility:hidden;")
    .flex.flex-col.mb-20.space-y-12.px-8(class='md:flex-row md:space-y-0 md:space-x-12 md:px-12')
      .w-full(class='md:w-1/2')
        p.text-center.text-gray-900(style="font-size: 18px; font-weight: 500") Student
        hr(style="height:10pt; visibility:hidden;")
        .video-container
          iframe(src='https://www.youtube.com/embed/hGryQDDDKTo' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      .w-full(class='md:w-1/2')
        p.text-center.text-gray-900(style="font-size: 18px; font-weight: 500") Professor
        hr(style="height:10pt; visibility:hidden;")
        .video-container
          iframe(src='https://www.youtube.com/embed/nuCgpP4GFrE' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
