html
  head
    title
      | researchR
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/index.css') 
    style.
      body {
        background-image: linear-gradient(white, #b2f5ea);
      }
      .video-container {
      overflow: hidden;
      position: relative;
      width: 100%;
      }
      .video-container::after {
      padding-top: 56.25%;
      display: block;
      content: '';
      }
      .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }
      .svg-icon {
        width: 2.5em;
        height: 2.5em;
      }

      .svg-icon path{
        fill: white;
      }

      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 100; /* Sit on top */
        padding-top: 22%; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
      }

      .modal-content {
        background-image: linear-gradient(to bottom right, #38b2ac, teal);
        color: #fff;
        font-size: 18px;
        background-color: #38b2ac;
        margin: auto;
        padding: 20px;
        border: 2px solid white;
        width: 50%;
        text-align: center;
      }

      .autocomplete {
        position: relative;
        display: inline-block;
        z-index: 100;
        max-height: 250px;
        width:100%;
      }

      .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 100;
        max-height: 250px;
        overflow-y: auto;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
      }

      .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
      }

      /*when hovering an item:*/
      .autocomplete-items div:hover {
        background-color: #e9e9e9;
      }

      /*when navigating through the items using the arrow keys:*/
      .autocomplete-active {
        background-color: Teal !important;
        color: #ffffff;
      }

  body
    header.text-gray-700.body-font
    a.flex.title-font.font-medium.justify-center.text-gray-900
      img.ml-0(class='h-24 lg:h-32', src='/images/home_logo.png')

    // HERO
    section.text-gray-700.body-font.overflow-hidden(class="lg:mb-12")
        p.font-medium.text-xl.mb-8.mt-2(class="px-8 lg:px-32 lg:text-center")
          |At researchR our aim is to enhance the college experience. Taking this to the next level is our Student Mentor series. 
          br
          br 
          span.font-thin Book personalised 1:1 or Mini Group (3 students) sessions to interact with high performing students and alumni to take your career to greater heights.
        
        p.text-4xl.font-bold.my-4.text-center.text-gray-700 Meet our speaker
        .container.mx-auto.py-6(class="flex flex-col lg:flex-row")
            .flex(class='px-8 flex-col lg:flex-row lg:justify-around')
                img.w-full.h-64.object-cover.object-center.rounded(alt='ecommerce' class='lg:w-1/3 lg:h-auto' src='/images/aboutus/adi.jpeg')
                .w-full.mt-6(class='lg:w-1/2 lg:py-6 lg:mt-0')
                    div(class="flex items-center lg:justify-between")
                      h2.text-3xl.title-font.text-gray-500.tracking-widest MR. ADITYA VAVRE
                      a(href="http://linkedin.com/in/adityavavre" target="_blank")
                        svg(class="z-30" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' height="30px" width="30px" preserveAspectRatio="xMidYMid meet" viewBox='0 0 382 382')
                          path(style='fill:#0077B7;' d='M347.445,0H34.555C15.471,0,0,15.471,0,34.555v312.889C0,366.529,15.471,382,34.555,382h312.889\
  C366.529,382,382,366.529,382,347.444V34.555C382,15.471,366.529,0,347.445,0z M118.207,329.844c0,5.554-4.502,10.056-10.056,10.056\
  H65.345c-5.554,0-10.056-4.502-10.056-10.056V150.403c0-5.554,4.502-10.056,10.056-10.056h42.806\
  c5.554,0,10.056,4.502,10.056,10.056V329.844z M86.748,123.432c-22.459,0-40.666-18.207-40.666-40.666S64.289,42.1,86.748,42.1\
  s40.666,18.207,40.666,40.666S109.208,123.432,86.748,123.432z M341.91,330.654c0,5.106-4.14,9.246-9.246,9.246H286.73\
  c-5.106,0-9.246-4.14-9.246-9.246v-84.168c0-12.556,3.683-55.021-32.813-55.021c-28.309,0-34.051,29.066-35.204,42.11v97.079\
  c0,5.106-4.139,9.246-9.246,9.246h-44.426c-5.106,0-9.246-4.14-9.246-9.246V149.593c0-5.106,4.14-9.246,9.246-9.246h44.426\
  c5.106,0,9.246,4.14,9.246,9.246v15.655c10.497-15.753,26.097-27.912,59.312-27.912c73.552,0,73.131,68.716,73.131,106.472\
  L341.91,330.654L341.91,330.654z')

                    // h1.text-gray-900.text-3xl.title-font.font-medium.mb-1 Resume Building for the best roles
                    .flex.mb-4
                    p.font-medium.text-lg // Computer Science at IIT Bombay // R&D AI at Sony, Tokyo // Research intern at Hong Kong Polytechnic University // JEE Mains rank 97 // 
                    p.font-thin.mt-4 
                        span.font-bold  1. One-on-one session
                        |  Ask Me Anything: The "What, When, How" of landing your dream tech role at a big name
                    p.font-thin.mt-4 
                        span.font-bold  2. Mini-group sessions
                        |  Resume Building Session followed by a Q&A 
                    .flex.mt-2.items-center.pb-2.border-b-2.border-gray-200.mb-5(class="hidden lg:block")
                    .flex(class="mt-8 mb-12 lg:my-0")
                        a(href="#speaker")
                            button.flex.text-white.bg-teal-500.border-0.py-2.px-6.rounded(class='focus:outline-none hover:bg-teal-600') Book Session

            
    // REQUEST ACCESS FORM
    section#get-access.text-gray-700.body-font.relative
      .container.px-5.pb-12.mx-auto
        .flex.flex-col.text-center.w-full.mb-12
          h1.text-2xl.font-medium.title-font.mb-4.text-gray-900(class='sm:text-3xl') Personalized tips to take your career to the next level!
          //p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3') Your lucky stars could grant you access to the most awaited student-professor platform.
          p.mx-auto.leading-relaxed.text-base.font-medium(class='lg:w-2/3' style="font-size: 18px") We will send you a payment link and schedule confirmation via the email you enter below.  
          p.text-red-600.text-lg.mx-auto.pt-4.font-medium #{errorMsg}
        .mx-auto(class='lg:w-1/2 md:w-2/3')
          form(action="/mentorship", method="POST").flex.flex-wrap.-m-2
            .p-2(class='w-full md:w-1/2')
              input.w-full.bg-gray-100.rounded.border.border-gray-400.text-base.px-4.py-2(class='focus:outline-none focus:border-teal-500' placeholder='Your Name' name='name' type='text' value=name required='')
            .p-2(class='w-full md:w-1/2')
              input.w-full.bg-gray-100.rounded.border.border-gray-400.text-base.px-4.py-2(class='focus:outline-none focus:border-teal-500' placeholder='College Email' name='email' type='email', value=email required='')
            .p-2(class='w-full md:w-1/2 flex flex-row md:flex-col items-center')
              p.text-gray-600.font-thin.px-1(class="w-1/2 md:w-full") Department
              if departments
                select#colleges.border-2.py-2.px-2.w-full.rounded-lg(name="department" required='')
                  each val in departments
                    if val.value === department
                      option(value=val.value, selected)=val.label
                    else
                      option(value=val.value)=val.label
            .p-2(class='w-full md:w-1/2 flex flex-row md:flex-col items-center')
              p.text-gray-600.font-thin.px-1(class="w-1/2 md:w-full") Year of Study
              if yoss
                select#colleges.border-2.py-2.px-2.w-full.rounded-lg(name="yos" required='')
                  each val in yoss
                    if val.value === yos
                      option(value=val.value, selected)=val.label
                    else
                      option(value=val.value)=val.label
            .flex(class="flex-col md:flex-row w-full")
              .p-2(class='flex flex-row md:flex-col items-center w-full')
                p.text-gray-600.font-thin.px-1(class="w-1/2 md:w-full") College
                .autocomplete()
                    input.border-2.py-2.px-2.w-full.rounded-lg#collegeInput(type="text" autocomplete="off" name="college" placeholder="College" value=college class="focus:outline-none focus:border-teal-500")
            .p-2(class="w-full md:w-1/2 flex flex-row md:flex-col items-center")
                p.text-gray-600.font-thin.px-1(class="w-1/2 md:w-full") Type of engagement
                select#engagement.border-2.py-2.px-2.w-full.rounded-lg(name="type" required)
                    if type === "mini-group"
                      option(value="one-on-one")="One-on-One (₹349.00)"
                      option(value="mini-group" selected)="Mini-Group [3 participants] (₹150.00)"
                    else
                      option(value="one-on-one" selected)="One-on-One (₹349.00)"
                      option(value="mini-group")="Mini-Group [3 participants] (₹150.00)"
            .p-2(class="w-full md:w-1/2 flex flex-row md:flex-col items-center")
                p.text-gray-600.font-thin.px-1(class="w-1/2 md:w-full") Date of Session
                select#speaker.border-2.py-2.px-2.w-full.rounded-lg(name="session" required)
                    if session === "11th"
                      option(value="8th")="8th Nov (Sunday)"
                      option(value="11th" selected)="11th Nov (Wednesday)"
                    else
                      option(value="8th" selected)="8th Nov (Sunday)"
                      option(value="11th")="11th Nov (Wednesday)"
            .p-6.w-full
              button.flex.mx-auto.text-white.bg-teal-500.border-0.py-4.px-12.rounded.text-lg.font-medium(class='focus:outline-none hover:bg-teal-600') Book session
    
    // MODAL FOR SUCCESSFUL STUDENT REQUEST ACCESS
    #studentRequestAccessSuccessful.modal
      .modal-content
        span.close
        p.text-white.font-thin(style="font-size: 20px;") Thank you for applying.
        hr(style="height:10pt; visibility:hidden;")
        p.text-white.font-thin Meanwhile please help us spread the word by sharing this platform with others.
        hr(style="height:6pt; visibility:hidden;")
        div.flex.justify-center.items-center(class='space-x-10')
          <a href='mailto:?subject=Join%20me%20at%20"researchR"&body=Hey,
          | %0D%0A %0D%0A
          | researchR,%20pre-incubated%20at%20IIT%20Madras(http://researchr.in/mentorship)%20is%20an%20online%20platform%20that%20enables%20collaborations%20between%20students,%20professors%20and%20startups%20on%20free/paid%20engagements.
          | %0D%0A %0D%0A
          | With%20a%20radically%20simple%20recruiting%20process,%20researchR%20aims%20to%20build%20a%20collaborative%20ecosystem%20within%20and%20across%20colleges.%20The%20platform%20currently%20is%20invite-only%20and%20has%20features%20to%20match%20students%20to%20professor%20guided%20projects%20depending%20on%20their%20interests%20and%20skill-sets.
          | %0D%0A %0D%0A
          | Collaborating%20has%20never%20been%20easier.%20What%20are%20you%20waiting%20for?
          | %0D%0A
          | Click%20here%20to%20join%20this%20exclusive%20community: http://researchr.in/mentorship %0D%0A %0D%0A' target="_blank" rel="noopener noreferrer">
          svg.svg-icon(class='mt-1' viewbox="0 0 18 18")
            path(d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z")
          </a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/posts/researchr_education-edtech-university-activity-6721428099193536512-lbay&title=&summary=&source=" target="_blank" rel="noopener noreferrer">
          svg.svg-icon(class='mt-1' xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewbox="0 0 24 24")
            path(d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z")
          </a>

  script.
      //initiate the autocomplete function on the "collegeInput" element, and pass along the college array as possible autocomplete values:
      var collList = "!{collegeList}".split(',');
      autocomplete(document.getElementById("collegeInput"), collList);

      res="!{email}";
      if(!res){
        res = "!{errorMsg}"
      }
      if(res && res.length > 0){
        document.getElementById("get-access").scrollIntoView();
      }

      const studentModal = document.getElementById("studentRequestAccessSuccessful");

      doneType = "!{done}";
      if(doneType === "student") {
        studentModal.style.display = "block";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target === studentModal) {
          studentModal.style.display = "none";
        }
      }

      // ref: https://www.w3schools.com/howto/howto_js_autocomplete.asp
      function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) {
            return false;
          }
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function (e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
              });
              a.appendChild(b);
            }
          }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
        });

        function addActive(x) {
          /*a function to classify an item as "active":*/
          if (!x) return false;
          /*start by removing the "active" class on all items:*/
          removeActive(x);
          if (currentFocus >= x.length) currentFocus = 0;
          if (currentFocus < 0) currentFocus = (x.length - 1);
          /*add class "autocomplete-active":*/
          x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
          /*a function to remove the "active" class from all autocomplete items:*/
          for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
          }
        }

        function closeAllLists(elmnt) {
          /*close all autocomplete lists in the document,
          except the one passed as an argument:*/
          var x = document.getElementsByClassName("autocomplete-items");
          for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
              x[i].parentNode.removeChild(x[i]);
            }
          }
        }

        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
          closeAllLists(e.target);
        });
      }
